<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Testar{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pdf/StylesDownloadButton.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('pdf.index') }}">
                    <img src="{{ url_for('static', filename='imagenes/logo.png') }}" alt="Logo" class="logo">
                </a></li>
                <li><a href="{{ url_for('pdf.index') }}">Inicio</a></li>
                <li><a href="{{ url_for('pdf.residuos_peligrosos') }}">Residuos Peligrosos</a></li>
                <li><a href="{{ url_for('pdf.impacto_ambiental') }}">Impacto ambiental</a></li>
                <li><a href="{{ url_for('pdf.atmosfera') }}">Atmósfera</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; ASEA</p>
    </footer>
</body>
</html>
